* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#site-header {
  padding-top: 1rem;
  border-bottom: 3px solid red;
}

#site-header h3 {
  color: silver;
  text-align: center;
}

.container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  height: 100vh;
}

.container .even {
  border: 5px dotted red;
}

.container .odd {
  border: 5px dotted silver;
}

.container .card {
  text-align: center;
  margin-right: 1rem;
  width: calc(100%/4 - 1rem);
  padding: 2rem 1rem;
  color: #d8d8d852;
  transition-duration: 1s;
  transition-property: color;
}

.container .card .title {
  padding-top: 0.5rem;
  font-size: 1.1rem;
}

.container .card .original-title {
  padding-bottom: 1rem;
  font-size: 1rem;
}

.container .card p {
  font-size: 0.9rem;
}

.container .card:hover {
  color: white;
}

